<div class="row d-flex justify-content-center align-items-center mt-5">
    <div class="col-4 ">
        <div class="card">
            <div class="card-header">
                <h3>Giriş yap</h3>
                <p>Giriş yapmak için bilgilerinizi doldurun</p>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label>Name</label>
                    <input [(ngModel)]="name" type="text" class="form-control">
                </div>
                <div class="form-group mt-2">
                    <button class="btn btn-dark w-100">Giriş yap</button>
                </div>
            </div>
        </div>
    </div>
</div>